<div class="container">

<div class="mt-4 mb-4">
  <h1>Edit Vaccination</h1>
</div>

<div class="form p-4 bg-white rounded-4">
  <%= simple_form_for([@pet, @vaccination])  do |f|%>
  <%= f.input :expiration_date, as: :date %>
  <%= f.association :vaccine, collection: Vaccine.all %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", pet_vaccinations_path(@pet) %>
</div>

</div>
