<div class="container">

  <section class="p-5 mb-5" style="background-color: #F4F4F4;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-10 col-lg-8 col-xl-8">
          <div class="card shadow-lg" style="border-radius: 0;" data-aos="flip-left">
            <div class="card-body p-5 text-center">

              <h2 class= "mb-4">Create a new pet </h2>
                <img src="<%= image_path("typing.png") %>" style= "width: 90px">

                <%= simple_form_for @pet  do |f|%>

                  <div class="form-outline mb-4">
                    <%= f.input :name %>
                  </div>
                  <div class="form-outline mb-4">
                    <%= f.input :birthday , as: :date %>
                  </div>
                  <div class="form-outline mb-4">
                    <%= f.association :species_type, collection: SpeciesType.all %>
                  </div>
                  <div class="form-outline mb-5">
                    <%= f.input :photo, as: :file %>
                  </div>
                  <div class="form-outline mt-4">
                      <span class="highlight-container"><span class="highlight"><%= f.button :submit, class: "btn-update p-2" %></span></span>
                  </div>
                <% end %>
                <%= link_to "Back", pets_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
