<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <div class="align-items-center">
      <%= link_to root_path, class: "navbar-brand d-flex" do %>
        <div class="logo"> </div>
        <span style= "margin-left: 20px; color: #4297A8;">  Tu mejor amigo</span>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item d-flex">
            <% if current_user.type_of_user == "Pet Owner" %>
              <%= link_to pets_path, class: "nav-link nav-user" do %>
                <i class="fa-solid fa-person"></i>
                <%= current_user.name %>
              <% end %>
            <% else %>
              <%= link_to vet_profile_path, class: "nav-link nav-user" do %>
                <i class="fa-solid fa-house-chimney-medical"></i>
                <%= current_user.name %>
              <% end %>
            <% end %>
            <% if @pet != nil && @pet.id != nil %>
              <%= link_to pet_path(@pet), class: "nav-link nav-user" do %>
                | <i class="fa-solid fa-bone"></i>
                <%= @pet.name %>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.key != nil %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "avatar-logout.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end dropdown-navbar" aria-labelledby="navbarDropdown">
              <div class="welcome-user">
                <p><strong>Hola</strong></p>
                <small><%= current_user.email %></small>
              </div>
              <ul class="list-group">
                <% if current_user.type_of_user == "Pet Owner" %>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa-solid fa-suitcase-rolling"></i>
                  <%= link_to "My pets", pets_path, class: "dropdown-item" %></li>
                <% else %>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa-solid fa-suitcase-rolling"></i>
                  <%= link_to "My patients", my_patients_path, class: "dropdown-item" %></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa-solid fa-house"></i> <%= link_to "My appointments", my_appointments_path, class: "dropdown-item" %></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa-solid fa-message"></i> <%= link_to "Messages", chatroom_path(Chatroom.first), class: "dropdown-item" %></li>
                <% end %>
                <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa-solid fa-sliders"></i> <%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa-solid fa-right-from-bracket"></i> <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
              </ul>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
                   <%= link_to "Login", new_user_session_path, class: "nav-link", style: "font-size: 19px; padding-right: 20px;" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
