<%= render "shared/navbar_home" %>
<div class="home-container" style="background-image: linear-gradient(rgba(0,0,0,0.22),rgba(0,0,0,0.3)), url(<%= asset_path('home-image-6.jpg') %>);">
  <div class="container">
    <div class="home text-start">
      <h1>All about your pets</h1>
      <%# <h1 id="title-color">in just one place</h1> %>
      <h1 class="highlight-container-home p-2"><span class="highlight-home" style= "font-size:65px;">in just one place</span></h1><br>
      <span data-controller="typed-js"></span>
      <div class="row justify-content-start container-btn sub-heading">
        <div class="col-5 mb-4 sub-heading-text" data-aos="fade-right">
          <h3>Do you wanna track your pet's health?</h3>
          <%= link_to "Let's go!", new_user_session_path, class: "btn btn-success btn-lg text-white shadow rounded-4 mt-3 p-3" %>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="page-section">
  <div class="container">
    <div class="text-center" data-aos="fade-down">
      <h2 class="section-heading text-uppercase">What can we do for you?</h2>
      <h3 class="section-subheading text-muted">All you need for your pet in one place!</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4" data-aos="zoom-in">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-success"></i>
          <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Appointments</h4>
        <p class="text-muted">Request an appointment anytime, anywhere, in just one tap.</p>
      </div>
      <div class="col-md-4" data-aos="zoom-in">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-success"></i>
          <i class="fas fa-bell fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Reminders</h4>
        <p class="text-muted">We will notify you when a vaccine is about to expire or when your appointment is approaching.</p>
      </div>
      <div class="col-md-4" data-aos="zoom-in">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-success"></i>
          <i class="fas fa-folder-open fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Medical History</h4>
        <p class="text-muted">No more papers! Track appointments, vaccinations, lab results, prescriptions, and more. Everything on demand.</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->

<section class="page-section" style="color: #000; background-color: #4297A8;">
  <div class="container">

      <div class="text-center" data-aos="fade-down">
          <h2 class="section-heading text-uppercase text-white">OUR EXPERIENCES</h2>
          <h3 class="section-subheading text-white">We share experiences from across the globe!</h3>
      </div>

    <div class="row text-center">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card shadow zoom rounded-4" data-aos="flip-right">
          <div class="card-body py-4 mt-2">
            <div class="d-flex justify-content-center mb-4">
              <img src="<%= image_path("https://ca.slack-edge.com/T02NE0241-U022WSNRKB8-53d44d171f09-512") %>"
                class="rounded-circle shadow-1-strong" width="100" height="100" />
            </div>
            <h5 class="font-weight-bold">Andres</h5>
            <h6 class="font-weight-bold my-3">Chile</h6>
            <ul class="list-unstyled d-flex justify-content-center">
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star-half-alt fa-sm text-info"></i></li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>I use it every day to handle all my pets information. It is easy and quick to us. I recommend it!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card shadow zoom rounded-4" data-aos="flip-left">
          <div class="card-body py-4 mt-2">
            <div class="d-flex justify-content-center mb-4">
              <img src="<%= image_path("https://ca.slack-edge.com/T02NE0241-U0259SAQW2F-8e617d094894-512") %>"
                class="rounded-circle shadow-1-strong" width="100" height="100" />
            </div>
            <h5 class="font-weight-bold">Mauri</h5>
            <h6 class="font-weight-bold my-3">Chile</h6>
            <ul class="list-unstyled d-flex justify-content-center">
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star-half-alt fa-sm text-info"></i></li>
              <li><i class="fa-star fa-regular fa-sm fas text-info"></i></li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>Great app, it helps us a lot organizing the appointments agenda and communicating with the veterinaries. Great functionalities.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-0">
        <div class="card shadow zoom rounded-4" data-aos="flip-right">
          <div class="card-body py-4 mt-2">
            <div class="d-flex justify-content-center mb-4">
              <img src="<%= image_path("https://ca.slack-edge.com/T02NE0241-U01BSGRUD0R-0b6b376960e4-512") %>"
                class="rounded-circle shadow-1-strong" width="100" height="100" />
            </div>
            <h5 class="font-weight-bold">Nati</h5>
            <h6 class="font-weight-bold my-3">Cordoba</h6>
            <ul class="list-unstyled d-flex justify-content-center">
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star fa-sm text-info"></i></li>
              <li><i class="fas fa-star fa-sm text-info"></i></li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>Great service, it makes easier to handle the clinical history and studies records. It is organized and easy to use!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients-->
<div class="py-5" style= "background-color: white;">
  <div class="container">
    <h5 class="text-muted">They trust us:</h5>
  </div>

  <div class="container" data-aos="fade-up">
    <hr class="mb-5">
    <div class="row align-items-center">
        <div class="col-md-3 col-sm-6 my-3">
            <a href="#"><img class="img-fluid img-brand d-block mx-auto" src="<%= image_path("purina.png")%>" alt="..." aria-label="Purina Logo" /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
            <a href="#"><img class="img-fluid img-brand d-block mx-auto" src="<%= image_path("boris-vet.png")%>" alt="..." aria-label="Bosris Vet Logo" /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
            <a href="#"><img class="img-fluid img-brand d-block mx-auto" src="<%= image_path("google.svg")%>" alt="..." aria-label="Google Logo" /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
            <a href="#"><img class="img-fluid img-brand d-block mx-auto" src="<%= image_path("frontline.png")%>" alt="..." aria-label="frontline Logo" /></a>
        </div>
      <hr class="mt-5">
    </div>
  </div>
</div>

<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center" data-aos="fade-down">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">We worked together to build this great app.</h3>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="team-member text-center" data-aos="flip-left">
                    <img class="mx-auto rounded-circle  mb-2" src="https://ca.slack-edge.com/T02NE0241-U03PQPPGXUG-abbe6fa51dcc-512" alt="Clari", style="max-width: 80%; max-height: 100%;" />
                    <h4 class="mt-2">Clari Ursini</h4>
                    <p class="text-muted">Team Collaborator</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://github.com/clariursini" aria-label="Clari Ursini Git Hub Profile" style="background-color: #4297A8; border-radius: 50%; border: none;"><i class="fa-brands fa-github"></i></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.linkedin.com/in/clara-ursini/" aria-label="Clari Ursini LinkedIn Profile" style="background-color: #4297A8; border-radius: 50%; border: none;"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="team-member text-center" data-aos="flip-left">
                    <img class="mx-auto rounded-circle  mb-2" src="https://ca.slack-edge.com/T02NE0241-U03NNS0RVHV-f5e916a99167-512" alt="Sofi", style="max-width: 80%; max-height: 100%;" />
                    <h4 class="mt-2">Sofi Larrea</h4>
                    <p class="text-muted">Team Collaborator</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://github.com/sofilarrea" aria-label="Sofi Larrea Git Hub Profile" style="background-color: #4297A8; border-radius: 50%; border: none;"><i class="fa-brands fa-github"></i></i></a>
                    <a class="btn btn-dark btn-social mx-2" style="background-color: #4297A8; border-radius: 50%; border: none;" target="_blank" href="#!" aria-label="Sofi Larrea LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="team-member text-center" data-aos="flip-left">
                    <img class="mx-auto rounded-circle  mb-2" src="https://ca.slack-edge.com/T02NE0241-U03PBS9AV17-a13d8e7e6e83-512" alt="Lucas", style="max-width: 80%; max-height: 100%;" />
                    <h4 class="mt-2">Lucas Capparelli</h4>
                    <p class="text-muted">Team Collaborator</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://github.com/capparellilucas" aria-label="Lucas Cappa Git Hub Profile" style="background-color: #4297A8; border-radius: 50%; border: none;"><i class="fa-brands fa-github"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.linkedin.com/in/lucas-pablo-capparelli-6636001b6/" aria-label="Lucas Cappa LinkedIn Profile" style="background-color: #4297A8; border-radius: 50%; border: none;"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="team-member text-center" data-aos="flip-left">
                    <img class="mx-auto rounded-circle  mb-2" src="https://ca.slack-edge.com/T02NE0241-U03NS6EMXFY-e01b612d5e07-512" alt="Caro", style="max-width: 80%; max-height: 100%;" />
                    <h4 class="mt-2">Caro Arlia</h4>
                    <p class="text-muted">Team Collaborator</p>
                    <div>
                      <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://github.com/carolina-arlia" aria-label="Caro Arlia Git Hub Profile" style="background-color: #4297A8; border-radius: 50%; border: none;"><i class="fa-brands fa-github"></i></i></a>
                      <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.linkedin.com/in/caroarlia/" aria-label="Caro Arlia LinkedIn Profile" style="background-color: #4297A8; border-radius: 50%; border: none;"><i class="fab fa-linkedin-in"></i></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-8 mx-auto text-center" data-aos="fade-up"><p class="large text-muted mt-5">This site was made collaboratively by the team members above as part of the web development bootcamp at Le Wagon Argentina on September 2022.  </p></div>
        </div>
    </div>
</section>

 <!-- Contact-->
<section class="page-section" id="contact">
    <div class="container" data-aos="fade-down">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" style="color: #555358;">Contact Us</h2>
            <h3 class="section-subheading text-muted">Leave us a message and we will contact you right away.</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center">
              <%# <button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button> %>
              <span class="highlight-container" style="padding: 5px 15px 10px 10px;">
                <span class="highlight" style="color: white;">
                  <span class="btn-update">Send Message</span>
                </span>
              </span>
            </div>
        </form>
    </div>
</section>
