<%= simple_form_for @review do |f| %>
  <%= hidden_field_tag(:user_id, params[:id]) %>
  <%= hidden_field_tag(:pet_id, params[:pet_id]) %>
  <p style="font-weight: bolder;">Give us feedback</p>
  <%= f.input :content, label: false %>
  <%= f.input :rating, collection: (1..5).to_a, label: false, input_html: {data: { controller: "star-rating", action: "click->form-submit#submit"} }  %>
  <span class="highlight-container" style= "padding: 1px 11px 4px 4px;">
    <span class="highlight" style= "padding: 1px;">
      <%= f.button :submit, "Send your review", style: "border: none; font-weight: bold;", class: "btn-update"  %>
    </span>
  </span>
<% end %>
