<div class="container ml-auto">
  <section class="pt-0" style="background-color: #F4F4F4; padding-bottom: 80px;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center" id="login">
          <div class="col-md-4 col-lg-7 col-xl-6" id="vet-container">
              <div class="d-flex" style= "margin: 0 auto;">
                <img src="<%= image_path "doctorveterinary.png" %>" class="img-fluid" alt="Phone image" style="width: 50%; height: 50%; margin: 0 auto;" id="vet">
              </div>
              <div class="px-3 py-4 p-md-5 mx-md-4">
                 <h2 class="mb-4 text-center" style="font-family: 'Sriracha', cursive; font-size: 45px; color: #4297A8;">Follow my Pet</h2>
                <h2 class="mb-4 text-center">Welcome Back!</h4>
              </div>
          </div>

          <div class="col-md-8 col-lg-5 col-xl-5 offset-xl-1" style="margin: 0 auto;">
            <div class="card shadow-lg" style="border-radius: 0;">
              <div class="card-body p-5 text-center">

                <h3 class="mb-5" >Log in</h3>
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>

                  <div class="form-outline mb-4">
                    <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }, id: "typeEmailX-2", class: "form-control form-control-lg", label: false, placeholder: "Email" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= f.input :password, required: false, input_html: { autocomplete: "current-password" }, type: "password", id: "typePasswordX-2", class: "form-control form-control-lg", label: false, placeholder: "Password" %>
                  </div>

                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-start mb-4 p-0">
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  </div>

                  <%= f.button :submit, "LOGIN", class: "h6 shadow btn btn-primary btn-lg btn-block", style: "width: 100%; font-size: 15px; color: white;" %>

                  <hr class="my-4">

                  <%= render "devise/shared/links" %>
                  <br>
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>or sign up with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-google"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-github"></i>
                    </button>
                  </div>

                <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
