<div class="container mt-4" style="margin-bottom: 70px;">

  <section class="p-0" style="background-color: #F4F4F4;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-8">
          <div class="card shadow-lg" style="border-radius: 0;" data-aos="flip-left">
            <div class="card-body p-5 text-center">

              <h2 class= "mb-4">Update Clinical History Record</h2>

                <%= simple_form_for([@pet, @clinical_history]) do |f| %>

                  <div class="form-outline mb-4">
                    <%= f.input :name, label: "Title" %>
                  </div>
                  <div class="form-outline mb-4">
                    <%= f.input :description %>
                  </div>
                  <div class="form-outline mb-4">
                    <%= f.input :date, as: :date %>
                  </div>
                  <div class="form-outline mb-4">
                    <%= f.input :type_of_history, as: :radio_buttons, collection: ["Consult", "Vaccination", "Study"] %>
                  </div>
                  <div class="form-outline mt-4">
                    <span class="highlight-container"><span class="highlight"><%= f.submit class: "btn btn-update" %></span></span>

                  </div>
                <% end %>
                <%= link_to "Back", pet_clinical_histories_path(@pet) %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
