<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog appotintment-edit" style= "max-width: 50%;">
      <div class="modal-content p-3">
        <div class="modal-header">
          <%= image_tag "logo-caminando.png" %>
          <h4 class="modal-title">Edit appointment</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mt-3">
          <div class="flat-form form-container">
            <h5>Select a new date and time:</h5>
            <div class="mt-3 select-date">
              <%= simple_form_for @appointment do |r| %>
              <%#= r.input :start_time, as: :datetime, html5: true %>
              <%= r.input :start_time, as: :datetime, default: Time.parse('8:00'), label:false %>
              <%#= r.input :start_time, :as => :string, :input_html => { :value => localize(r.object.start_time) } %>
              <br>
              <span class="highlight-container p-1"><span class="highlight"><%= r.button :submit, class: "btn-update" %></span></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
