<div class="container">
  <h1>Edit your appointment </h1>
</div>

<div class="container-my-reservations">
  <div class="cards-container">
      <div class="container-show-header">
        <div class="botton-show">
          <%= link_to "Back to My Appointments", pet_appointments_path(@appointment.pet.id), class: "btn btn-primary" %>
        </div>
      </div>
  </div>


  <div class="container mt-4">
    <div class="row">
      <div class="col-6 m-auto">
        <div class="flat-form form-container">
            <h1> <%= @appointment.user.name %></h1>
            <div class="mt-3">
                <%= simple_form_for @appointment do |r| %>
                <%= r.input :start_time, as: :datetime, html5: true %>
                <%= r.button :submit, class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
