<div class="container container-lists mb-5">
  <!-- <div class="container-show-header">
    <div>
      <%= link_to "Create a new appointment", pet_veterinaries_path(@pet), class: "btn btn-primary" %>
    </div>
  </div> -->

  <div class="container d-grid gap-3">
    <h3><span class="highlight-container p-2"><span class="highlight"><strong style="color: white;"><%= @pet.name %></strong></span></span> has these appointments taken: </h3>
    <ul class="list-group">
      <li class="list-group-item row no-gutter d-flex">
        <div class="col-12 align-items-center">
          <%= link_to pet_veterinaries_path(@pet), class:"text-success" do %>
            <i class="fa-solid fa-calendar-plus"></i>
            <strong> Create a new appointment</strong>
          <% end %>
        </div>
      </li>
    </ul>
    <% @next_appointments.each do |appointment| %>
      <ul class="list-group">
        <li class="list-group-item row no-gutter d-flex">
          <div class="col-9 col-lg-10 align-items-center text-start">
            <%= appointment.start_time.strftime('%d %B %Y') %>
            <%= appointment.start_time.strftime('%I:%M %p') %>
            <% if current_user.type_of_user == "Pet Owner" %>
              <%= link_to pet_veterinary_path(@pet, appointment.user), class:"text-info m-list" do %>
                <i class="fa-solid fa-house-chimney-medical"></i>
                <strong><%= appointment.user.name %></strong>
              <% end %>
            <% end %>
          </div>
          <div class="col-3 col-lg-2 align-items-center text-end">
            <%= link_to appointment_path(appointment), class:"ms-3 text-success", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
            <%= link_to edit_appointment_path(appointment), data: { controller: "turbo" },class:"ms-3 text-success" do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>

<%# MAPA POR SI SE QUIERE MOSTRAR CON APPOINTMENTS SOLO DEL PET %>

    <%# <div class="col-lg-8 mt-5" style= "width: 80%; margin: 0 auto;">
    <div class="card" data-aos="flip-left">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-9">
            <p class="mb-0" style="font-weight: bolder;">Appointments</p>
          </div>
          <div class="col-sm-12 mt-3 text-muted"> %>

              <%#= month_calendar(events: @appointments) do |date, appointments| %>
                <%#= date %>
                  <%# appointments.each do |appointment| %>
                  <%# <div class="meeting">
                    <p><%= appointment.pet.name %> <%#</p>
                    <small><%#= appointment.time  %> <%#</small>
                  </div>
                <%# end %>
              <%# end %>
          <%# </div>
        </div>
      </div>
    </div>
  </div> %>

</div>
