<div class="container container-lists mb-5">
  <!-- <div class="container-show-header">
    <div>
      <%= link_to "Create a new appointment", my_patients_path, class: "btn btn-primary" %>
    </div>
  </div> -->

  <div class="container d-grid gap-3" data-aos="flip-left" style= "width: 80%; margin: 0 auto;">
    <h4><span class="highlight-container p-2"><span class="highlight" style= "color:white;"><%= current_user.name %></span></span>, these are your next appointments </h4>
    <h5 class="m-0" style="font-weight:bold;">Today</h5>
    <ul class="list-group">
      <li class="list-group-item row no-gutter d-flex">
        <div class="col-12 align-items-center">
          <%= link_to my_patients_path, class:"text-success" do %>
            <i class="fa-solid fa-calendar-plus"></i>
            <strong> Create a new appointment</strong>
          <% end %>
        </div>
      </li>
    </ul>
    <% @today_appointments.each do |appointment| %>
      <ul class="list-group">
        <li class="list-group-item row no-gutter d-flex">
          <div class="col-9 col-lg-10 align-items-start">
            <%= appointment.start_time.strftime('%d %B %Y') %>
            <%= appointment.start_time.strftime('%I:%M %p') %>
            <%= link_to pet_path(appointment.pet), class: "m-list" do %>
              <strong><%= appointment.pet.name %></strong>
            <% end %>
            (<small><%= appointment.pet.user.name %> <i class="fa-solid fa-person"></i></small>)
          </div>
          <div class="col-3 col-lg-2 text-end">
            <%= link_to appointment_path(appointment), class:"ms-3 text-success", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
            <%= link_to edit_appointment_path(appointment), data: { controller: "turbo" }, class:"ms-3 text-success" do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>

    <h5 class="mt-5 mb-0" style="font-weight:bold;">Following appointments</h5>
    <% @next_appointments.each do |appointment| %>
      <ul class="list-group">
        <li class="list-group-item row no-gutter d-flex">
          <div class="col-9 col-lg-10 align-items-start">
            <%= appointment.start_time.strftime('%d %B %Y') %>
            <%= appointment.start_time.strftime('%I:%M %p') %>

            <%= link_to pet_path(appointment.pet), class: "m-list" do %>
              <strong><%= appointment.pet.name %></strong>
            <% end %>
            (<small><%= appointment.pet.user.name %> <i class="fa-solid fa-person"></i></small>)
          </div>
          <div class="col-3 col-lg-2 text-end">
            <%= link_to appointment_path(appointment), class:"ms-3 text-success", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
            <%= link_to edit_appointment_path(appointment), data: { controller: "turbo" }, class:"ms-3 text-success" do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="col-lg-8 mt-5" style= "width: 80%; margin: 0 auto;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-9">
            <p class="mb-0" style="font-weight: bolder;">Appointments</p>
          </div>
          <div class="col-sm-12 mt-3 text-muted">

              <%= month_calendar(events: @appointments) do |date, appointments| %>
                <%= date %>
                  <% appointments.each do |appointment| %>
                  <div class="meeting">
                    <p><%= appointment.pet.name %></p>
                    <small><%= appointment.time  %></small>
                  </div>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
